.card{
    background-color: rgb(25, 85, 93);
   
}
.container{
    color: rgb(207, 88, 88);
    font-size: large;
    font-style: oblique;
    
}
.h5{
    color: black;
}
.tex-center{
    background-color: rgb(44, 175, 164);
}