
.Bar{
display: flex;
align-items: center;
width: 100%;
justify-content: space-between;
padding: 0 10 0 10;
}
.Logo{
padding-left: 20px;
}

.Nav{
  background-color: pink;
}
.links{
  display: flex;
  list-style-type: none;
  border: 1px solid black
}

.link{

  margin: 0px 5px;
}